h1{
	text-align: center;
	font-weight:bold;
	font-size: 60px;
	font-family: "courier";
	color:#D1A683;
	background-color: #1A2C56;
text-transform: uppercase;
}

p {
font-family: "arial";
color:#D1A683;
font-size: 20px;
font-weight: bold;
text-transform: uppercase;
}
input{
     width:100px;
     height: 40px;
	box-sizing: border-box;
	box-shadow: 0 0 5px rgba(0,0,0,0.9);
border-radius: 7px;
}
input:focus{

	background-color: white;
border: 3px solid #2980b9;
}
input:value{
font-size:20px;
font-family: "Calibri";
padding:10px;
margin:0 10px ;
color:red;
}
.btn{
font-size:20px;
font-family: "Calibri";
padding:10px;
margin:0 10px ;
background-color: black;
color:white;
text-transform: uppercase;

}
.container{

font-size:25px;
font-family: "Calibri";
padding:6px;
margin:10px 10px ;
color:black;
text-transform: uppercase;
font-weight: bold;

}
span{
font-size:25px;
font-family: "Calibri";
padding:6px;
margin:10px 10px ;
color:red;
text-transform: uppercase;
font-weight: bold;

}
body{
background: #4CA1AF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}