body{
    background-color: aqua;
    top: 0px;
}

body:after {
    content: "Hello world!";
    font-weight: bold;
    position: absolute;
    top: 50vh;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
}
