.btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; 
    
}

.btn:hover {
transform: translateY(-0.3rem);
box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; 
}

.btn:active, .btn:focus {
outline: none;
transform: translateY(-0.1rem);
box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); 
}

.btn--green {
background-color: #55c57a;
color: #fff; 
}

.btn--green::after {
    background-color: #55c57a; 
}

.btn::after {
content: "";
display: inline-block;
height: 100%;
width: 100%;
border-radius: 10rem;
position: absolute;
top: 0;
left: 0;
z-index: -1;
transition: all .4s; 
}