#try {
background-color: beige;
}

.div1  {
	padding: none;
	font-family: Georgia;
	color: aqua;
	font-weight : bolder;
	font-size: 20px;
	text-align: center;
    display: block;
    width: 350px;
    margin: auto;
    background: #5A2619;
}
    
.Abed {
    text-align: center;
    padding: auto;
    font-size: 20px;
    margin: auto;
    color: rgb(61, 18, 55);
    background-image: url(Amine.jpg);
    background-repeat: no-repeat;
    background-position: center;
    list-style-position: center;
    
}
.AZIZ {
    background-color: white;
    margin: auto;
    text-align: center;
	font-size:20px;
	padding:none;
}

