.App {
  text-align: center;
}

.pumpkin {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: black;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  margin: 15px;
}

button.button {
  background-color: none;
  margin: 5px;
}

.rainbow {
  text-transform: uppercase;
  background: linear-gradient(to right, #ffd89b 0%, #19547b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
font: {
  size: 30vw;
  family: $font;
};
}