{% extends 'layout.twig' %}

{% block body %}
<div class="containe row">
<div class="col-2"></div>
<div class="block col-8 app row">
    <div class="col"></div>
    <div class="col">
        <a href='/tables' class="btn btn-outline-primary">Ver Tablas</a>
    </div>
    <div class="col">
        <a href='/columns' class="btn btn-outline-primary">Ver Columnas</a>
    </div>
    <div class="col"></div>
</div>
<div class="col-2"></div>
</div>
{% endblock %}
