body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #43CBFF 10%, #9708CC 100%);
  }
  
  .profile {
    width: 250px;
    background: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile__image {
    width: 100px;
    height: 100px;
    overflow: hidden;
  }
  .profile__image img {
    max-width: 100%;
  }
  .profile__name {
    font-size: 22px;
    padding-top: 10px;
  }
  .profile__position {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .profile__status {
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 15px;
    color: #333;
  }
  .profile__status--active {
    color: #fff;
    background-color: #30d837;
  }
  