.App {
  text-align: center;
}

.App-logo {
  enable-background: new 0 0 300 300;
  margin-bottom: 3rem;
}

.App-header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.st0 {
  fill: #ff6f00;
}
