<h1>{{title}}</h1>
<h3>Hello World!</h3>


<!-- maybe using NgModel 

<label>
  First Name:
  <input [(ngModel)]="form.firstName" type="text"></label>
<label>
  Last Name:
  <input [(ngModel)]="form.lastName" type="text"></label>
</label>
<p class="btn" (click)="hello()" >Submit</p> -->


<form [formGroup]="hackForm" (ngSubmit)="onSubmit()">
  <label>
    First Name:
    <input type="text" formControlName="firstName">
  </label>
  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>
  <button type="submit" [disabled]="!hackForm.valid">Submit</button>
</form>
<app-post></app-post>