body{
  background-color: #000;
}

#app{
  display: flex;
  justify-content: center;
  margin-top: 50px;

}

.wrapper{
  width: 350px;
  height: 350px;
  background-color: lightsalmon;
  border: 10px solid lightgreen;
  box-shadow: 0 0 100px darksalmon;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  animation-name: circle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.text{
  color: #8e534d;
  font-size: 40px;
  display: flex;
  align-items: center;
}

@keyframes circle {
  0%{
    background-color:red;
    transform: rotate(0deg);
  }
  25%{
    background-color: yellow;
    transform: rotate(25deg);
  }
  50%{
    background-color: blue;
    transform: rotate(50deg);
  }
  75%{
    background-color:green;
    transform: rotate(75deg);
  }
  100%{
    background-color: purple;
    transform: rotate(360deg);
  }

}
