html {
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.main {
    display: flex;
    margin: 0;
    height: 100%;
}

.menu {
    padding: 5px;
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu h1 {
    font-size: 18px;
}

.slider {
    margin: 5px;
    width: 100%;
    height: 20px;
}

.control-button {
    width: 150px;
    height: 30px;
    margin-top: 20px;
}