body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('assets/images/bg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#keys{
    display: flex;
    flex-direction: row;
    justify-content: center;   
}

.key{
    position: relative;
    padding:10px;
    height: 80px;
    width: 80px;
    text-align: center;
    line-height: 70px;
    border:2px solid black;
    margin-left: 9px;
    background-color: rgba(0, 0, 0, 0.541);
    color:white;
    font-size: 2em;
    transition: all 0.07s;
}


.playing{
    transform: scale(1.1);
    border: 2px solid rgb(241, 241, 110);
    box-shadow: 2px 2px 6px rgb(241, 241, 110);

}

