#imageCon{
    width: 100%;
    height: 60%
    float: center;

}
.slide{
   width: 100%;
   border: 1px solid #111;
}
#footbut {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
#footbut:hover, a:hover {
  opacity: 0.7;
}
