@import url('https://fonts.googleapis.com/css?family=Acme');

body{
    background-color:#94288E;
    font-family: 'Acme', sans-serif;
    color:white;
    font-size: 20px;
}

.one{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}
