body {
    background-color: #33CAF4;
    text-shadow: 1px 1px 6px black;
  }
  
  .feather-wrap {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    overflow: hidden;
  }
  .feather-wrap .feather {
    position: absolute;
    top: 50%;
    background-image: url("http://pngimg.com/uploads/feather/feather_PNG12958.png");
    background-size: contain;
    background-position: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  
  .float {
    animation: float 3s linear 2 alternate, shake 3s ease-in-out 2 alternate;
  }
  
  @keyframes float {
    0% {
      top: 50%;
    }
    100% {
      top: 20%;
    }
  }
  @keyframes shake {
    0% {
      transform: rotateX(0deg) rotateZ(0deg);
    }
    50% {
      transform: rotateX(30deg) rotateZ(10deg);;
    }
    100% {
      transform: rotateX(60deg) rotateZ(-5deg);;
    }
  }
  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 20px 0px;
  }
  .head h1, .head h2 {
    color: #F2F2F2;
  }
  .head #text {
    text-transform: capitalize;
  }
  
