img{
	width:30%;
	height: 30%;
	float: left;
	margin:1.66%;

}
body{
	background-color: black;
}
h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	margin-left: 1.66%;
	font-size: 50px;
	border-bottom: 2px dashed #F1F1F1;
	width: 30%;
	color: #F1F1F1;
	text-transform: uppercase;
	padding-bottom: 25px;

}