<!doctype html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script> Vue.config.devtools = true </script>

<title>Hello World</title>
<style type="text/css">
    [v-cloak] { display: none; }
    .m-20 { margin-top: 20px; }
</style>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Hello World</a>
        </div>
      </div>
    </nav>
	<div class="container" id="app" v-cloak>
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<form class="form-inline col-md-12">
					  	<div class="form-group">
                            <input type="text" class="form-control"  v-model.number="times">
					    	<input type="text" class="form-control"  v-model="name">
					  	</div>
					</form>
				</div>
                <div class="row m-20">
                    <div class="col-md-8">
                        <ul class="list-group">
                            <li class="list-group-item" v-for="n in times">
                                {{ n }} {{ name }}
                            </li>
                        </ul>
                    </div>
                </div>
			</div>
		</div>
	</div>
    <footer class="text-center" style="position: fixed; bottom: 10px; left: 0; width: 100%">
        <a href="https://made-with-love.xyz/">
            Made with <img src="https://made-with-love.xyz/images/logos/love.svg" alt="Made with love around the world" style="width: 8px"> love
        </a>
    </footer>
</body>
<script>
	new Vue({
	    el: '#app',
	    data: function () {
            return {
                times: 10,
                name: 'Hello world'
            }
        },
        methods: {

        },
	});
</script>
</html>