.scoreBoard{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
}

.bola {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 25px;
    position: absolute;
}

body {
    width: 560px;
    height: 460px;
    border: 2px black solid;
}